@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

::-webkit-scrollbar { 
    display: none;
}

.mobile_size{
    max-width: 428px;
    background-image: linear-gradient(to right, #3f174e, #160946);
    height: 100vh;
    margin: auto;
    padding: 20px;
    overflow-y: scroll;
}

.intro_heading{
    margin-top: 40%;
}
#go_to_weather a {
    font-size: 25px;
    background-color: #ffffff;
    padding: 5px 11px;
    border-radius: 50%;
    border: 2px solid #71BFCC;
}

.temprature p{
    font-size: 50px;
}
sup{
    vertical-align: super;
    font-size: 30px;
}
.forcastImage{
    height: 120px;
    width: 120px;
}
.feels_degree{
    vertical-align: super;
    font-size: 10px;
}
.fa-arrow-left{
    cursor: pointer;
}